<div class="main">
  <div class="nav-button-h active">
    <%= link_to 'Our Brand', brand_path %>
  </div>
  <div class="nav-button-h">
    <%= link_to 'Our Beer', beers_path %>
  </div>
  <div class="nav-button-h">Beer Facts</div>
  <div class="nav-button-h">Events</div>
  <div class="nav-button-h">Contact</div>
</div>

<div class="brand-body">
  <div class="line-1">
    <article class="article-1">
      Wine and Scotch have always held class in the alcoholic beverage industry. Our goal at Bayside Brewery is to bring that class back to the beer industry with both our rigorus quality control process and our endless innovation of flavors and techniques.
    </article>
    <iframe class="video" src="https://www.youtube.com/embed/cUftgOgVsFw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="line-2">
    <article class="article-2">
      <br /><br />
      Bayside Brewery was founded by BrewMaster Anthony LoSardo in 2012. Bayside Brewery focuses primarily on quality and with this dedication to perfection, Bayside Brewery delivers refreshing and inspirational flavors to the beer industry. Just like the borough of Queens, our team is made up of a diverse group of beer enthusiasts that strives to revolutionize how people enjoy beer.
    </article>
    <aside class="aside-image">
      <%= image_tag 'cigar.jpg', :class => "cigar"%>
    </aside>
  </div>
</div>

<footer>
  <div class="social-media">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-youtube"></i>
  </div>

  <div class="site-map">
    <p>Home</p>
    <p>Our Brand</p>
    <p>Our Beer</p>
    <p>Beer Facts</p>
    <p>Events</p>
    <p>Contact</p>
    <p>Events</p>
    <p>Shop</p>
    <p>Privacy Policy</p>
    <p>Returns and Refunds Policy</p>
    <p>Terms and Conditions</p>
    <p>Shipping and Delivery Policy</p>
  </div>

  <div class="copyright">
    <p>
      &copy; 2018 Bayside Brewery - All rights reserved.
    </p>
  </div>
</footer>