<div class="main">
  <div class="nav-button">Our Brand</div>
  <div class="nav-button">Our Beer</div>
  <div class="nav-button">Beer Facts</div>
  <div class="nav-button">Events</div>
  <div class="nav-button">Contact</div>
</div>

<div class="slogan">
  <p>I'll Drink To That &reg;</p>
</div>
