.beer-table {
  padding: 2em;
}

.beer-image {
  width: 30%;
}

.beer-image > img {
  width: 80%;
  padding-bottom: 2em;
}

.beer-info {
  text-align: center;
}

.beer-name {
  font-size: 2em;
}

.flagship {
  font-size: 1.2em;
}